body {
    background-color: rgb(195, 195, 195);
}

.app {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.background {
    background-color: rgb(255, 248, 229);
    height: 800px;
    width: 600px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.top-panel {
    width: 90%;
    height: 75px;
    top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-button-panel {
    background-color: rgb(202, 235, 202);
    display: flex;
    width: 200px;
    margin: 5px;
    border-radius: 10px;
}

.info-panel {
    border: solid 3px pink;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.task-area {
    width: 90%;    
    height: 550px;
    background: rgb(222, 232, 235);
    border-radius: 20px;
    top: 15%;
    display: flex;
    flex-flow: column;
    margin: 5px;
    list-style: circle;
}

.bot-buttons {
    bottom: 3%;
}

.top-button {
    height: 45px;
    width: 45px;
    border: solid black 3px;
    border-radius: 5px;
    margin: 3px;
}

.add-new-task {
    background-color: lightblue;
}

.edit-tasks {
    display: flex;
}

.no-edit {
    background-color: lightcoral;
}

.yes-edit {
    background-color: lightgreen;
}

.task {
    height: 40px;
    width: 400px;
    border: lightsalmon solid 4px;
    margin: 5px;
    border-radius: 10px;
}

ul.displayList {
    list-style-type: circle;
}

.task-counter {
    padding: 5px;
}